body {
    margin:30px;
}

.pageTopic {
    text-align: center;
}
/* color */
.colorPalette {
    display:flex;
    justify-content: space-between;
    margin-top: 60px;
}
.colorContainer {
    display: inline-block;
    margin:15px;
}
.swatch {
    height: 200px;
    width: 170px;
    border:1px solid black;
}
.hexcode {
    padding:15px;
    text-align: center;
    border: 1px solid black;
   border-top: none;
   border-bottom-left-radius:7px;
   border-bottom-right-radius:7px
}
.sinopia {
    background-color: #D64000;
}
.orange {
    background-color: #B9240F;
}
.vermilion {
    background-color: #e60000;
}
.white {
    background-color: #ffffff;
}
.silver {
    background-color: #707070;
}
.black {
    background-color: #000000;
}
/*typography*/
.typeContainter {
    display:flex;
}
.typographyContainer {
    display: flex;
    justify-content: space-between;
}
.largeBold {
    font-weight: bold;
}
/*icons*/
.iconContainer {
    display: inline-block;
    flex-direction: column;
}
.icons {
    justify-content: space-between;
    padding: 4.5%;
    width: 3%;
    height: auto;
}
/*logo*/
.brandLogo {
    width:50%;
    height: auto;
}

/*buttons*/
.compareButton {
    width: 30%;
    height: auto;
    padding: 5%;
}
.cartButton {
    width:30%;
    height:auto;
    padding: 5%;
}
.filterButton {
    width: 30%;
    height: auto;
    padding:5%;
}
.buttonContainer {
    display: flex;
}
.unselected {
    padding:5%;
    width: 30%;
    height:auto;
}
.selected {
    padding:5%;
    width:30%;
    height: auto;
}
/*images*/
.images {
    width:30%;
    height:auto;
}



/*Items Page*/
/*nav*/
.top_nav {
    width:115%;
}
.bg-light {
    background-color: #ffffff;
}
.navbar {
    width:100%;
}
/*item*/
.vaseItem {
    width: 100%;
    height: auto;
}
.itemDescription {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:30px;
    /*justify-content: space-between;*/
}
.card-title {
    /*font-size: 24px;*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
text-align: center;
color: #000000;
}
.orginal-price {
    /*font-size: 14px;
    color:#707070;*/
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
text-decoration-line: line-through;
color: #707070;
}




/*media query THIS SHOULD BE AT THE VERY END*/
@media (min-width:600px) {

}